﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="initial-scale=1, shrink-to-fit=no, width=device-width" />
    <meta charset="utf-8" />
    <link rel="stylesheet" asp-href-include="~/lib/css/styles/*.css" />
    <link rel="stylesheet" asp-href-include="~/lib/css/bootstrap*.css" />
    <link rel="stylesheet" href="~/lib/css/font-awesome.css" />
    <link rel="stylesheet" href="~/lib/css/wysiwyg-editor.css" />

    <script src="~/lib/js/jquery-3.2.1.js"></script>
    <script src="~/lib/js/jquery.validate.js"></script>
    <script src="~/lib/js/additional-methods.js"></script>
    <script src="~/lib/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/js/typeahead.jquery.js"></script>
    <script src="~/lib/js/typeahead.bundle.js"></script>
    <script src="~/lib/js/bloodhound.js"></script>
    <script src="~/lib/js/popper-utils.js"></script>
    <script src="~/lib/js/popper.js"></script>
    <script src="~/lib/js/bootstrap.js"></script>
    <script src="~/lib/js/showdown.js"></script>
    <script src="~/lib/js/typeahead.bundle.js"></script>
    <script src="~/lib/js/wysiwyg.js"></script>

    <link href="~/lib/devextreme/css/dx.common.css" rel="stylesheet" />
    <link href="~/lib/devextreme/css/dx.light.css" rel="stylesheet" />
    <script src="~/lib/devextreme/js/dx.all.js"></script>
    <script src="~/lib/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>
    <script src="~/lib/devextreme/js/dx.aspnet.mvc.js"></script>

    <style>
        #html-editor-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f7f4bd;
            z-index: 100;
            padding: 100px;
        }
        #editor {
            width: 100%;
            background-color: #fefefe;
        }
        #end-edit {
            margin-top: 20px;
        }
    </style>
</head>
<body class="container">
    @if (User?.Identity?.IsAuthenticated == true)
    {
    <div class="card mt-4">
        <div class="row">
            <div class="col-4">
                Signed in as: @User.Identity.Name <a asp-action="Logout" asp-controller="Auth" asp-route-returnUrl="@Context.Request.Path.Value">Logout</a>
            </div>
            <div class="col-4">
                <a asp-action="Index" asp-controller="Applied">(Task Part I) Go to async agents</a>
            </div>
            <div class="col-4">
                <a asp-action="Index" asp-controller="HtmlTable">(Task Part II) Go to the HTML table</a>
            </div>
        </div>
    </div>
    }
    <div class="mt-4">
        @RenderBody()
    </div>
</body>
</html>
