﻿@model string

<h3>Enter a desired rows count:</h3>
<div class="form-group">
    <input type="number" id="rowsCount" name="rowsCount" min="0" step="1" class="form-control" required />
</div>
<div class="form-group">
    <button type="button" id="btPerform" class="btn btn-primary">Perform table population</button>
</div>
<div>
    <div class="progress mb-1">
        <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div>
        <button id="btCancel" class="btn btn-sm" type="button">Cancel operation</button>
    </div>
</div>
@Html.Partial("Agents")
<script>
    (function () {
        var stopButton = $("#btCancel");

        var socketAddress = window.location.protocol === "http:" ? "ws:" : "wss:";
        socketAddress += "//" + window.location.host + "/ws";
        var socket = new WebSocket(socketAddress);
        var progress = $("#progress");
        socket.onmessage = function (message) {
            var data = JSON.parse(message.data);
            if (data.notificationText) {
                alert(data.notificationText);
            } else {
                if (!data.completed) {
                    progress.width(data.progress + "%");
                    progress.attr("aria-valuenow", data.progress);
                } else {
                    progress.removeAttr("style");
                    stopButton.prop("disabled", true);
                    $("#gridAgents").dxDataGrid("refresh")
                }
            }
        };
        socket.onopen = function () {
            socket.send(JSON.stringify({
                UserId: "@Model"
            }));
        };

        $("#btPerform").on("click", function () {
            $.ajax({
                url: "/Applied/PerformTask",
                method: "POST",
                data: JSON.stringify({
                    RowsCount: $("#rowsCount").val(),
                    UserId: "@Model"
                }),
                success: function (data) {
                    if (data.started) {
                        stopButton.prop("disabled", false);
                    }
                },
                contentType: "application/json"
            });
        });
        stopButton.prop("disabled", true);
        stopButton.on("click", function () {
            socket.send(JSON.stringify({
                request: "cancel"
            }));
            stopButton.prop("disabled", true);
        });
    })();
</script>
