﻿@model LoginModel

<div class="mt-4 d-flex justify-content-center">
    <span class="d-block fa fa-user-circle fa-4x"></span>
</div>
<form asp-action="Login" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="User.Name">Name:</label>
        <input asp-for="User.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="User.PasswordHash">Password</label>
        <input asp-for="User.PasswordHash" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
</form>
