﻿<script src="~/js/editor-customization.js"></script>
<div id="html-editor-container" hidden>
    <textarea id="editor">
        
    </textarea>
    <button id="end-edit" type="button" class="btn btn-primary btn-sm">Save changes</button>
</div>

<script>
    let editor = null;
    let cellInfo = null;
    function populate_html_cell_editor(cellElement, ci) {
        $("#html-editor-container")
            .prop("hidden", false);
        cellInfo = ci;
        let editorElement = document.createElement("div");
        cellElement.get(0).appendChild(editorElement);
        editor = editor || $("#editor").wysiwyg({
            class: "fake-uikit",
            buttons: editorButtons
        });
        $(editor).wysiwyg("shell").setHTML(cellInfo.value);
    }

    function headerCellTemplate(header, info) {
        $('<div>')
            .html(info.column.caption)
            .css({
                'font-size': '16px',
                'font-weight': 'Bold',
                'color': 'blue'
            })
            .appendTo(header);
    }

    $("#end-edit").on("click", function () {
        $("#html-editor-container")
            .prop("hidden", true);
        let newValue = $(editor).wysiwyg("shell").getHTML();
        cellInfo.setValue(newValue);
        $(gridHTML).dxDataGrid("cellValue", cellInfo.rowIndex, "Description", newValue);
    });
</script>

@(Html.DevExtreme().DataGrid<HtmlProduct>()
        .Columns(cfg =>
        {
            cfg.AddFor(m => m.Name);
            cfg.AddFor(m => m.Category);
            cfg.AddFor(m => m.Amount);
            cfg.AddFor(m => m.Price);
            cfg.AddFor(m => m.Description)
                .Caption("HTML")
                .HeaderCellTemplate(new JS("headerCellTemplate"))
                .EncodeHtml(false)
                .EditCellTemplate(new JS("populate_html_cell_editor"));
        })
        .DataSource(cfg => cfg.RemoteController()
            .Key("HtmlProductId")
            .LoadUrl("/Rows")
            .DeleteUrl("/Row")
            .InsertUrl("/Row")
            .UpdateUrl("/Row"))
        .Editing(cfg =>
        {
            cfg.Mode(GridEditMode.Batch);
            cfg.AllowAdding(true)
                .AllowUpdating(true)
                .AllowDeleting(true);
        })
        .Paging(cfg => cfg.PageSize(10))
        .Pager(cfg =>
        {
            cfg.ShowPageSizeSelector(true);
            cfg.AllowedPageSizes(new[] { 5, 10, 20 });
            cfg.ShowInfo(true);
        })
        .ID("gridHTML")
)